{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vagas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'empregos:home' %}">Home</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'empregos:vagas' %}">Vagas</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'empregos:logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'empregos:login' %}">Login</a></li>
                {% endif %}
                {% if user.is_empresa %}
                <li class="nav-item"><a class="nav-link" href="{% url 'empregos:relatorio' %}">Relatório</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <div id="content" class="container">
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}
        {% block content %}{% endblock %}

        {% if messages %}
        <div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Parabéns!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('#messageModal').modal('show');
            });
        </script>
        {% endif %}
    </div>
</body>

</html>