{% block content %}
<div class="container" style="position: absolute; bottom: 70%">
  <h1 class="text-center my-3">{% if user.is_candidato %}Procurar Vagas{%else%}Procurar Vagas Criadas{%endif%}</h1>
  <div class="row justify-content-center">
    <form class="col-md-8" id="formFiltroVagas" method="post" action="{% url 'empregos:ver_vagas' %}">
      {% csrf_token %}
      <div class="form-row justify-content-center">
        <div class="col-md-4 mb-3">
          <label for="pretensaoSalarial">Pretensão salarial</label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="salarialAll" style="margin-left: -54%;"
                  name="pretensaoSalarial">
                <label class="form-check-label" for="salarialAll">
                  Todos
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="salarial1" style="margin-left: -54%;"
                  name="pretensaoSalarial">
                <label class="form-check-label" for="salarial1">
                  Até R$ 1.000,000
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="salarial2" style="margin-left: -54%;"
                  name="pretensaoSalarial">
                <label class="form-check-label" for="salarial2">
                  De R$ 1.000,01 até R$ 2.000,00
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="salarial3" style="margin-left: -54%;"
                  name="pretensaoSalarial">
                <label class="form-check-label" for="salarial3">
                  De R$ 2.000,01 até R$ 3.000,00
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="salarial4" style="margin-left: -54%;"
                  name="pretensaoSalarial">
                <label class="form-check-label" for="salarial4">
                  Acima de R$ 3.000,00
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="escolaridadeMinima">Escolaridade mínima</label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Selecione
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="escolaridadeAll" style="margin-left: -55%;"
                  name="escolaridadeMinima">
                <label class="form-check-label" for="escolaridadeAll">
                  Todos
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="escolaridade1" style="margin-left: -55%;"
                  name="escolaridadeMinima">
                <label class="form-check-label" for="escolaridade1">
                  Ensino Fundamental
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="escolaridade2" style="margin-left: -55%;"
                  name="escolaridadeMinima">
                <label class="form-check-label" for="escolaridade2">
                  Ensino Médio
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="escolaridade3" style="margin-left: -55%;"
                  name="escolaridadeMinima">
                <label class="form-check-label" for="escolaridade3">
                  Tecnólogo
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="escolaridade4" style="margin-left: -55%;"
                  name="escolaridadeMinima">
                <label class="form-check-label" for="escolaridade4">
                  Ensino Superior
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="escolaridade5" style="margin-left: -55%;"
                  name="escolaridadeMinima">
                <label class="form-check-label" for="escolaridade5">
                  Pós / MBA / Mestrado
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="6" id="escolaridade6" style="margin-left: -55%;"
                  name="escolaridadeMinima">
                <label class="form-check-label" for="escolaridade6">
                  Doutorado
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-end mb-3">
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="modalAlertLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalAlertLabel">Alerta</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Por favor, selecione pelo menos um valor para pretensão salarial e escolaridade mínima.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#salarialAll').on('change', function () {
      if (this.checked) {
        $('input[id^="salarial"]').not('#salarialAll').prop('checked', false);
      }
    });

    $('#escolaridadeAll').on('change', function () {
      if (this.checked) {
        $('input[id^="escolaridade"]').not('#escolaridadeAll').prop('checked', false);
      }
    });

    $('input[id^="salarial"]').not('#salarialAll').on('change', function () {
      if (this.checked) {
        $('#salarialAll').prop('checked', false);
      }
    });

    $('input[id^="escolaridade"]').not('#escolaridadeAll').on('change', function () {
      if (this.checked) {
        $('#escolaridadeAll').prop('checked', false);
      }
    });

    $("#formFiltroVagas").on('submit', function (e) {
      var isSalarialChecked = $('input[id^="salarial"]:checked').length > 0;
      var isEscolaridadeChecked = $('input[id^="escolaridade"]:checked').length > 0;

      if (!isSalarialChecked || !isEscolaridadeChecked) {
        e.preventDefault();
        $('#modalAlert').modal('show')
      }
    });
  });
</script>

</script>

{% endblock %}