{% extends 'base_generic.html' %}

{% block content %}
<div class="login-form-container" style="background-color: #f9f9f9; 
border-radius: 10px;        
padding: 20px;              
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
max-width: 400px;           
margin: 200px auto; ">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <label for="password">Senha:</label>
    <input type="password" name="password" required>
    <button type="submit" style="margin-top: 10px;">Login</button>
    <a href="{% url 'empregos:registro' %}" style="  background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none; /* Para remover o sublinhado do link ">Registrar</a>
  </form>
</div>
{% endblock %}