{% extends 'base_generic.html' %}

{% block content %}
<div style="margin-top: 25%;">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      {% if not user.is_authenticated %}
      <h2 class="display-4 mt-5">Bem vindo!</h2>
      {% else %}
      <h2 class="display-4 mt-5">Bem vindo, {{user.nome}}!</h2>
      {% endif %}
      <p class="lead mb-5">O elo entre as empresas e os candidatos!</p>
      {% if user.is_authenticated %}
      {% if user.is_candidato %}
      <a href="{% url 'empregos:vagas' %}" class="btn btn-primary">Clique Aqui e Encontre as Melhores Vagas!</a>
      {% else %}
      <a href="{% url 'empregos:vagas' %}" class="btn btn-primary">Clique Aqui Para Criar as Vagas!</a>
      {% endif %}
      {% else %}
      <a href="{% url 'empregos:registro' %}" class="btn btn-primary">Clique Aqui Para Criar sua Conta!</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}